## Pulling a timeseries from the US. Census is easy with the census data collector.

The `CensusTimeSeries` class wraps built in methods to grab the most appropriate data and then builds a pandas dataframe of data from 2000 through 2020.

Let's get started by importing necessary packages

In [1]:
import os
import shapefile
from censusdc.utils import CensusTimeSeries
from censusdc import AcsVariables, Sf3Variables

Now let's get setup by importing our Census API key. Each user needs a unique api key which can be requested at https://api.census.gov/data/key_signup.html

In [2]:
apikey = os.path.join('..', "api_key.dat")
with open(apikey) as api:
    apikey = api.readline().strip()

## Using the `CensusTimeSeries` class:

The `CensusTimeSeries` is initiated with a shapefile much like the `TigerWeb` class shown in notebook 1. Parameters for the `CensusTimeSeries` class include:

   * `shp`: shapefile name
   * `apikey`: census api key string
   * `field`: identifying attribute field in the shapefile class to tag feature groups
   * `radius`: if using a point shapefile, radius can be a shapefile attribute field or a floating point value

In [3]:
shp_file = os.path.join("..", "data", "Sacramento_neighborhoods_WGS.shp")

ts = CensusTimeSeries(shp_file, apikey, field="name")

The `get_timeseries()` method performs multiple functions behind the scenes.
   1) It efficiently queries TigerWeb to grab geocodes and tigerlines
   2) It queries ACS1, ACS5, and SF3 products
   3) It caches information from census products for computational effieciency
   4) It allows the user to intersect polygons with census data
   
The `get_timeseries()` method can be parameterized using:
   * `feature_name`: the name of the feature group the user is requesting a timeseries
   * `sf3_variables`: tuple of variables to grab from the sf3 census. Default is all variables defined in Sf3Variables class
   * `acs_variables`: tuple of variables to grab from the ACS1 and ACS5 census. Defualt is all variables defined in the AcsVariables class
   * `hr_dict`: human readable label dict, assists in aligning data. If hr_dict is None, defaults are used that cover AcsVariables, Sf3Variables, and Sf3Variables1990 classes
   * `polygons`: list(shapely Polygon,), list(shapefile.Shape,), or list([x,y],[x_n, y_n]) shapes to intersect the timeseries with.
   * `retry`: default 1000. Used for intermittent connection issues

__Example usage__: let's get default data for the La Riveria neighborhood.

_Note:_ you'll notice that this grabs data for both La Riveria and Tahoe park. The data is cached, so if we want to put together a timeseries of tahoe park the `ts.get_timeseries` method will use the cached data to put together the timeseries!

_Note 2:_ For years 2005 - 2009 data comes from county level discretization and therefore is not as representative as the other years which use tract level information. Populations estimates from 2005 - 2009 may be significantly different using area weighted intersections becasue of the difference in population density between the area of interest and the entire county.

In [4]:
shp = shapefile.Reader(shp_file)
polygons = [shp.shape(0), ]


df = ts.get_timeseries("la_riviera", polygons=polygons)
df

Getting Tigerline data for census year 2000
Getting data for census year 2000
Getting Tigerline data for census year 2005
Getting data for census year 2005
Getting Tigerline data for census year 2006
Getting data for census year 2006
Getting Tigerline data for census year 2007
Getting data for census year 2007
Getting Tigerline data for census year 2008
Getting data for census year 2008
Getting Tigerline data for census year 2009
Getting data for census year 2009
Getting Tigerline data for census year 2010
Getting data for census year 2010
Getting Tigerline data for census year 2011
Getting data for census year 2011
Getting Tigerline data for census year 2012
Getting data for census year 2012
Getting Tigerline data for census year 2013
Getting data for census year 2013
Getting Tigerline data for census year 2014
Getting data for census year 2014
Getting Tigerline data for census year 2015
Getting data for census year 2015
Getting Tigerline data for census year 2016
Getting data for census year 2016
Getting Tigerline data for census year 2017
Getting data for census year 2017
Getting Tigerline data for census year 2018
Getting data for census year 2018
Getting Tigerline data for census year 2019
Getting data for census year 2019
Getting Tigerline data for census year 2020
Getting data for census year 2020
Performing intersections and building DataFrame

,year,population,P052001,P052002,P052003,P052004,P052005,P052006,P052007,P052008,...,h_age_2000_2004,h_age_1990_1999,h_age_1980_1989,h_age_1970_1979,h_age_1960_1969,h_age_1950_1959,h_age_1940_1949,h_age_older_1939,median_h_year,gini
0,2000,14543.120514,6298.044821,543.281303,253.56834,310.689948,522.759893,418.725151,495.346931,376.44675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,4732.510526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,190.012521,242.348292,354.076461,417.550738,229.165309,234.644365,87.297028,98.658375,1.977000e+03,NaN
2,2006,4862.614224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,199.322318,249.404920,344.349280,390.827519,248.212898,245.482213,98.584095,92.096949,1.977000e+03,NaN
3,2007,4904.858486,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,209.604832,231.330049,328.661990,396.175700,249.337714,251.969358,89.571419,106.089941,1.977000e+03,NaN
4,2008,4931.341179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,213.219807,243.349307,310.548211,395.447046,249.447366,244.297265,95.715461,103.419388,1.977000e+03,NaN
5,2009,16921.259978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340.839218,273.315722,872.307571,2977.672953,1380.378531,588.873463,312.157808,403.159190,1.972286e+03,NaN
6,2010,15890.654204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.313275,207.491438,581.260086,3483.447094,2576.833024,285.303302,33.453046,54.589952,1.972143e+03,0.412786
7,2011,15836.232730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.974665,208.514945,527.898546,3494.407352,2587.611999,249.396726,55.287049,61.767226,-5.128023e+07,0.402877
8,2012,15717.275745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.621701,195.270438,600.108220,3474.005960,2482.648504,228.926734,58.485714,54.685949,1.972231e+03,0.412177
9,2013,15749.537664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.497372,201.675978,531.412432,3652.918946,2327.223721,257.691745,76.794394,96.617692,1.972308e+03,0.415238
10,2014,16202.001863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.199219,198.089270,577.236691,3645.597633,2256.052036,238.708020,85.019726,85.768497,1.972385e+03,0.416754
11,2015,15683.669213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.706287,50.031382,202.022414,539.393396,3583.614670,2376.014858,212.254587,52.012702,-5.128023e+07,0.419854
12,2016,15120.541582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.730215,73.194980,219.946078,674.189611,3435.995897,2392.231645,162.339063,43.233742,-5.128023e+07,0.432223
13,2017,15450.853768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.759686,72.416031,223.028245,551.805435,3411.589810,2485.646819,200.867050,41.948646,1.972692e+03,0.430815
14,2018,16092.046054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.028258,87.382569,247.661077,608.992552,3452.934864,2442.826792,175.593573,15.165161,-4.761722e+07,0.433707
15,2019,16561.376543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.452124,119.961709,251.086797,634.739344,3390.818154,2432.334690,169.329456,15.962093,1.973000e+03,0.431243
16,2020,16598.425750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.990817,144.720334,278.698230,681.792544,3600.490314,2084.086559,231.072833,25.573706,1.973214e+03,0.430707

Now let's do the same for Tahoe park using the Cached data

In [5]:
polygons = [shp.shape(1), ]

df = ts.get_timeseries('tahoe_park', polygons=polygons)
df

Performing intersections and building DataFrame

,year,population,P052001,P052002,P052003,P052004,P052005,P052006,P052007,P052008,...,h_age_2000_2004,h_age_1990_1999,h_age_1980_1989,h_age_1970_1979,h_age_1960_1969,h_age_1950_1959,h_age_1940_1949,h_age_older_1939,median_h_year,gini
0,2000,0.212571,0.068132,0.012165,0.004856,0.008126,0.00327,0.003558,0.005962,0.00476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,2175.347832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.341238,111.397921,162.754939,191.931553,105.338225,107.856730,40.126989,45.349351,1977.000000,NaN
2,2006,2235.151354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.620583,114.641573,158.283739,179.647946,114.093648,112.838460,45.315208,42.333323,1977.000000,NaN
3,2007,2254.569370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.347048,106.333270,151.072912,182.106294,114.610681,115.820344,41.172437,48.765348,1977.000000,NaN
4,2008,2266.742416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.008708,111.858048,142.746725,181.771360,114.661084,112.293787,43.996610,47.537801,1977.000000,NaN
5,2009,7326.569508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,322.026548,202.735457,469.779905,491.724586,374.680939,430.834920,278.586676,382.306193,1971.000000,NaN
6,2010,6999.858110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,303.553510,57.557124,87.779623,268.768926,317.054039,514.856271,1104.076215,904.567372,1949.428571,0.419429
7,2011,6922.229783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,199.899354,39.578985,87.497762,275.137017,356.810843,538.057832,1085.809874,890.283958,1950.428571,0.450271
8,2012,7282.228129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,396.194880,61.786002,90.453724,305.403200,282.383087,543.423202,984.133406,917.704729,1948.428571,0.470643
9,2013,7789.038151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,401.494379,57.612607,82.715747,390.536889,303.261910,649.815919,943.883100,737.837777,1949.571429,0.484271
10,2014,7680.769242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,347.434054,62.002381,103.253530,363.020735,257.496529,683.149309,957.409770,837.953993,1949.714286,0.486657
11,2015,7704.173108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.109275,279.084364,79.322998,100.691895,378.084036,241.375581,713.004844,1010.951498,1949.428571,0.469600
12,2016,7762.417156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.561864,188.773218,101.161026,95.077293,399.083741,278.964754,648.912120,964.844796,1948.000000,0.443514
13,2017,7398.984967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.713202,141.439272,94.601926,185.499294,273.601118,386.375813,572.890660,1066.822966,1949.428571,0.422786
14,2018,7164.993599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.937564,74.735614,149.209765,200.098184,282.354962,387.736488,540.919330,1117.858536,1950.714286,0.438800
15,2019,7583.679221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.934529,109.195037,166.193506,173.145993,311.881950,355.601086,503.083555,1163.945363,1950.857143,0.432186
16,2020,7354.171636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75.713412,234.806912,175.418737,186.791955,324.394103,518.719030,384.675993,1119.034769,1955.125000,0.445450

### Finally let's use this again but specify the census data we'd like to request from the census API

In [6]:
ts = CensusTimeSeries(shp_file, apikey, field='name')

In [7]:
sf3vars = (Sf3Variables.population, Sf3Variables.median_income)
acsvars = (AcsVariables.population, AcsVariables.median_income)

polygon = shp.shape(0)
df = ts.get_timeseries("la_riviera", sf3_variables=sf3vars,
                       acs_variables=acsvars,
                       polygons=polygon)
df

Getting Tigerline data for census year 2000
Getting data for census year 2000
Getting Tigerline data for census year 2005
Getting data for census year 2005
Getting Tigerline data for census year 2006
Getting data for census year 2006
Getting Tigerline data for census year 2007
Getting data for census year 2007
Getting Tigerline data for census year 2008
Getting data for census year 2008
Getting Tigerline data for census year 2009
Getting data for census year 2009
Getting Tigerline data for census year 2010
Getting data for census year 2010
Getting Tigerline data for census year 2011
Getting data for census year 2011
Getting Tigerline data for census year 2012
Getting data for census year 2012
Getting Tigerline data for census year 2013
Getting data for census year 2013
Getting Tigerline data for census year 2014
Getting data for census year 2014
Getting Tigerline data for census year 2015
Getting data for census year 2015
Getting Tigerline data for census year 2016
Getting data for census year 2016
Getting Tigerline data for census year 2017
Getting data for census year 2017
Getting Tigerline data for census year 2018
Getting data for census year 2018
Getting Tigerline data for census year 2019
Getting data for census year 2019
Getting Tigerline data for census year 2020
Getting data for census year 2020
Performing intersections and building DataFrame

    year    population     HCT012001   pop_density  median_income
0   2000  14543.120514  50303.307692  6.769820e+06            NaN
1   2005   4732.510526           NaN  2.110166e+06   51793.000000
2   2006   4862.614224           NaN  2.168178e+06   53930.000000
3   2007   4904.858486           NaN  2.187014e+06   56987.000000
4   2008   4931.341179           NaN  2.198822e+06   56984.000000
5   2009  16921.259978           NaN  6.159779e+06   52394.571429
6   2010  15890.654204           NaN  6.528632e+06   59605.642857
7   2011  15836.232730           NaN  6.842570e+06   57320.461538
8   2012  15717.275745           NaN  6.766971e+06   56320.153846
9   2013  15749.537664           NaN  6.745843e+06   54183.769231
10  2014  16202.001863           NaN  7.092305e+06   54173.615385
11  2015  15683.669213           NaN  6.958518e+06   55490.076923
12  2016  15120.541582           NaN  6.812243e+06   57226.000000
13  2017  15450.853768           NaN  6.935633e+06   58889.076923
14  2018  16092.046054           NaN  6.893023e+06   69776.142857
15  2019  16561.376543           NaN  7.010506e+06   72490.357143
16  2020  16598.425750           NaN  6.967393e+06   73601.285714

In [8]:
polygon = shp.shape(1)

df = ts.get_timeseries("tahoe_park", sf3_variables=sf3vars,
                       acs_variables=acsvars,
                       polygons=polygon)
df

Performing intersections and building DataFrame

    year   population  HCT012001   pop_density  median_income
0   2000     0.212571    30846.0  1.295155e+07            NaN
1   2005  2175.347832        NaN  2.110166e+06   5.179300e+04
2   2006  2235.151354        NaN  2.168178e+06   5.393000e+04
3   2007  2254.569370        NaN  2.187014e+06   5.698700e+04
4   2008  2266.742416        NaN  2.198822e+06   5.698400e+04
5   2009  7326.569508        NaN  7.107150e+06   5.038100e+04
6   2010  6999.858110        NaN  9.851311e+06   4.259771e+04
7   2011  6922.229783        NaN  9.931613e+06   4.339543e+04
8   2012  7282.228129        NaN  1.020306e+07   4.366014e+04
9   2013  7789.038151        NaN  1.042842e+07   4.406871e+04
10  2014  7680.769242        NaN  1.055728e+07   4.477114e+04
11  2015  7704.173108        NaN  1.062662e+07   4.442671e+04
12  2016  7762.417156        NaN  1.088203e+07   4.835029e+04
13  2017  7398.984967        NaN  1.092389e+07   5.267214e+04
14  2018  7164.993599        NaN  1.081327e+07   5.279400e+04
15  2019  7583.679221        NaN  1.130519e+07   5.515129e+04
16  2020  7354.171636        NaN  1.050350e+07  -8.328338e+07