## Pulling a timeseries from the US. Census is easy with the census data collector.

The `CensusTimeSeries` class wraps built in methods to grab the most appropriate data and then builds a pandas dataframe of data from 1990 through 2018.

Let's get started by importing necessary packages

In [1]:
import os
import shapefile
from censusdc.utils import CensusTimeSeries
from censusdc import AcsVariables, Sf3Variables, Sf3Variables1990

Now let's get setup by importing our Census API key. Each user needs a unique api key which can be requested at https://api.census.gov/data/key_signup.html

In [2]:
apikey = os.path.join('..', "api_key.dat")
with open(apikey) as api:
    apikey = api.readline().strip()

## Using the `CensusTimeSeries` class:

The `CensusTimeSeries` is initiated with a shapefile much like the `TigerWeb` class shown in notebook 1. Parameters for the `CensusTimeSeries` class include:

   * `shp`: shapefile name
   * `apikey`: census api key string
   * `field`: identifying attribute field in the shapefile class to tag feature groups
   * `radius`: if using a point shapefile, radius can be a shapefile attribute field or a floating point value

In [3]:
shp_file = os.path.join("..", "data", "Sacramento_neighborhoods_WGS.shp")

ts = CensusTimeSeries(shp_file, apikey, field="name")

The `get_timeseries()` method performs multiple functions behind the scenes.
   1) It efficiently queries TigerWeb to grab geocodes and tigerlines
   2) It queries ACS1, ACS5, and SF3 products
   3) It caches information from census products for computational effieciency
   4) It allows the user to intersect polygons with census data
   
The `get_timeseries()` method can be parameterized using:
   * `feature_name`: the name of the feature group the user is requesting a timeseries
   * `sf3_variables`: tuple of variables to grab from the sf3 census. Default is all variables defined in Sf3Variables class
   * `sf3_variables_1990`: tuple of variables to grab from the 1990 sf3 census. Default is all variables defined in Sf3Variables1990 class
   * `acs_variables`: tuple of variables to grab from the ACS1 and ACS5 census. Defualt is all variables defined in the AcsVariables class
   * `hr_dict`: human readable label dict, assists in aligning data. If hr_dict is None, defaults are used that cover AcsVariables, Sf3Variables, and Sf3Variables1990 classes
   * `polygons`: list(shapely Polygon,), list(shapefile.Shape,), or list([x,y],[x_n, y_n]) shapes to intersect the timeseries with.
   * `retry`: default 1000. Used for intermittent connection issues

__Example usage__: let's get default data for the La Riveria neighborhood.

_Note:_ you'll notice that this grabs data for both La Riveria and Tahoe park. The data is cached, so if we want to put together a timeseries of tahoe park the `ts.get_timeseries` method will use the cached data to put together the timeseries!

_Note 2:_ For years 2005 - 2009 data comes from county level discretization and therefore is not as representative as the other years which use tract level information. Populations estimates from 2005 - 2009 may be significantly different using area weighted intersections becasue of the difference in population density between the area of interest and the entire county.

In [4]:
shp = shapefile.Reader(shp_file)
polygons = [shp.shape(0), ]


df = ts.get_timeseries("la_riviera", polygons=polygons)
df

Received 13 entries, 13 total
Received 5 entries, 18 total
Received 2 entries, 20 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 1 entries, 1 total
Received 1 entries, 1 total
Received 14 entries, 14 total
Received 6 entries, 20 total
Received 3 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 2 entries, 10 total
Received 13 entries, 13 total
Received 6 entries, 19 total
Received 4 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 1 entries, 9 total
Received 13 entries, 13 total
Received 5 entries, 18 total
Received 3 entries, 21 total
Received 2 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 3 entries, 9 total
Received 13 entries, 13 total
Received 5 entries, 18 total
Received 3 entries, 21 total
Received 2 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 3 entries, 9 total
Received 14 entries, 14 total
Received 7 entries, 21 total
Received 3 entries, 24 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 2 entries, 10 total
Getting data for census year 1990
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Error getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Error getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2000
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2005
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2006
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2007
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2008
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2009
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2010
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for la_riviera feature # 13
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2011
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2012
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2013
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2014
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2

Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2015
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2016
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2017
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2018
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for la_riviera feature # 13
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5

C:\Users\jlarsen\Documents\anaconda3\lib\site-packages\pandas\core\frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,households,households2,income_100k_125k,income_10K_15k,income_10k_12k,income_125k_150k,income_13k_15k,income_150k_200k,income_15k_17k,income_15k_20k,...,income_55k_60k,income_5K_10k,income_60k_75k,income_75k_100k,income_gt_200k,income_lt_10k,income_lt_5k,median_income,population,year
0,NaN,NaN,109.568208,NaN,237.16351,32.355595,190.349525,NaN,220.819167,NaN,...,322.735406,568.62756,628.234816,376.733869,NaN,NaN,196.398162,41111.181818,15134.640992,1990
1,6298.605389,NaN,342.909825,253.583314,NaN,152.672071,NaN,80.077888,NaN,310.716347,...,NaN,NaN,832.858482,628.473357,42.539261,543.300964,NaN,50303.307692,14544.594289,2000
2,NaN,1756.716739,141.293104,97.195030,NaN,83.487676,NaN,58.113658,NaN,80.777382,...,NaN,NaN,191.003079,231.618514,38.709372,114.147652,NaN,51793.000000,4740.151392,2005
3,NaN,1772.468328,150.982847,84.518650,NaN,92.950675,NaN,70.722723,NaN,88.812606,...,NaN,NaN,199.647676,237.726417,50.574435,103.944193,NaN,53930.000000,4870.465149,2006
4,NaN,1783.327218,149.370842,98.236633,NaN,96.628172,NaN,89.563693,NaN,87.735574,...,NaN,NaN,199.856705,256.220186,57.755828,83.416818,NaN,56987.000000,4912.777617,2007
5,NaN,1778.735661,161.366992,93.545877,NaN,93.184504,NaN,86.548713,NaN,78.821719,...,NaN,NaN,204.795463,246.052156,62.124184,76.858970,NaN,56984.000000,4939.303067,2008
6,NaN,1797.498688,145.633116,104.457909,NaN,87.437973,NaN,84.178535,NaN,88.199689,...,NaN,NaN,187.764898,234.945266,56.544167,101.729901,NaN,52504.000000,4963.376852,2009
7,NaN,6643.746195,427.166442,319.956285,NaN,350.366288,NaN,196.683631,NaN,353.260733,...,NaN,NaN,835.189904,903.555040,160.285878,380.554907,NaN,59605.642857,15891.969140,2010
8,NaN,6705.392540,604.770784,265.401077,NaN,326.036740,NaN,238.738311,NaN,356.988010,...,NaN,NaN,803.281604,838.075509,127.306050,474.235055,NaN,57320.461538,15837.636749,2011
9,NaN,6598.456793,566.322775,276.968620,NaN,388.757953,NaN,210.594522,NaN,326.109838,...,NaN,NaN,748.646202,862.295520,113.774823,480.691855,NaN,56320.153846,15718.643943,2012
10,NaN,6510.526112,595.653339,325.871608,NaN,369.105493,NaN,243.556779,NaN,295.597232,...,NaN,NaN,705.406459,831.837568,99.931614,438.057859,NaN,54183.769231,15750.861420,2013
11,NaN,6459.130082,589.034740,286.125652,NaN,319.268963,NaN,270.363089,NaN,318.753144,...,NaN,NaN,733.982557,882.253729,150.873113,369.146400,NaN,54173.615385,16203.440273,2014
12,NaN,6467.455073,621.771453,262.330734,NaN,340.183115,NaN,301.876265,NaN,277.157492,...,NaN,NaN,719.908317,854.888295,125.572394,444.295407,NaN,55490.076923,15685.149619,2015
13,NaN,6341.907515,514.581931,292.407363,NaN,371.089566,NaN,301.094926,NaN,278.453298,...,NaN,NaN,684.722301,850.451279,166.706803,449.149592,NaN,57226.000000,15121.993876,2016
14,NaN,6448.771948,661.089081,269.208610,NaN,338.005141,NaN,362.625334,NaN,231.129645,...,NaN,NaN,745.692661,785.756722,181.524088,409.649794,NaN,58889.076923,15452.339672,2017
15,NaN,6578.778870,776.660672,298.926378,NaN,382.670470,NaN,409.921206,NaN,171.179253,...,NaN,NaN,741.834418,786.001142,309.095119,357.126207,NaN,69776.142857,16093.501628,2018

Now let's do the same for Tahoe park using the Cached data

In [5]:
polygon = shp.shape(1)

df = ts.get_timeseries('tahoe_park', polygons=polygon)
df

,households,households2,income_100k_125k,income_10K_15k,income_10k_12k,income_125k_150k,income_13k_15k,income_150k_200k,income_15k_17k,income_15k_20k,...,income_55k_60k,income_5K_10k,income_60k_75k,income_75k_100k,income_gt_200k,income_lt_10k,income_lt_5k,median_income,population,year
0,NaN,NaN,20.948110,NaN,148.852336,0.112576,188.07994,NaN,168.79262,NaN,...,181.680973,482.562411,211.979465,31.040102,NaN,NaN,157.369239,21734.000000,7054.755632,1990
1,3381.303408,NaN,166.584411,282.052309,NaN,26.742608,NaN,56.456392,NaN,228.246607,...,NaN,NaN,345.327857,260.370345,22.063147,415.883011,NaN,30835.285714,6957.108138,2000
2,NaN,807.302417,64.931506,44.666155,NaN,38.366915,NaN,26.706239,NaN,37.121395,...,NaN,NaN,87.775817,106.440715,17.788963,52.456764,NaN,51793.000000,2178.345313,2005
3,NaN,814.541089,69.384446,38.840701,NaN,42.715654,NaN,32.500758,NaN,40.813997,...,NaN,NaN,91.748458,109.247613,23.241575,47.767746,NaN,53930.000000,2238.231240,2006
4,NaN,819.531311,68.643646,45.144826,NaN,44.405654,NaN,41.159160,NaN,40.319045,...,NaN,NaN,91.844518,117.746459,26.541797,38.334353,NaN,56987.000000,2257.676013,2007
5,NaN,817.421253,74.156499,42.989180,NaN,42.823111,NaN,39.773621,NaN,36.222666,...,NaN,NaN,94.114133,113.073722,28.549283,35.320681,NaN,56984.000000,2269.865832,2008
6,NaN,826.043837,66.925967,48.003825,NaN,40.182282,NaN,38.684401,NaN,40.532330,...,NaN,NaN,86.287705,107.969530,25.984976,46.750164,NaN,52504.000000,2280.928985,2009
7,NaN,3455.102872,245.729218,321.856740,NaN,241.930743,NaN,95.986745,NaN,169.970499,...,NaN,NaN,290.841526,440.961931,88.451293,363.016787,NaN,42597.714286,6999.967737,2010
8,NaN,3415.905786,243.738077,374.283456,NaN,190.280680,NaN,138.801612,NaN,161.966818,...,NaN,NaN,287.829641,467.376595,122.758515,259.292922,NaN,43395.428571,6922.338582,2011
9,NaN,3400.651609,195.325619,390.500079,NaN,180.033796,NaN,175.997621,NaN,184.652373,...,NaN,NaN,297.052042,431.608552,159.100271,320.738339,NaN,43660.142857,7282.330598,2012
10,NaN,3429.785761,240.884222,393.330286,NaN,140.651215,NaN,177.758089,NaN,208.807126,...,NaN,NaN,350.554871,369.768085,179.145260,343.331090,NaN,44068.714286,7789.141185,2013
11,NaN,3439.699521,251.071306,270.062022,NaN,146.067562,NaN,198.847510,NaN,252.225008,...,NaN,NaN,332.207792,353.072093,181.470470,358.078861,NaN,44771.142857,7680.876393,2014
12,NaN,3430.200560,261.061242,279.751058,NaN,166.904486,NaN,161.258440,NaN,208.454794,...,NaN,NaN,375.918790,365.136980,150.217611,344.995678,NaN,44426.714286,7704.291870,2015
13,NaN,3429.625840,309.977698,281.019302,NaN,186.301855,NaN,153.739106,NaN,158.634575,...,NaN,NaN,263.947447,491.740695,142.262014,357.928973,NaN,48350.285714,7762.550236,2016
14,NaN,3432.886899,382.679389,294.202569,NaN,189.334295,NaN,147.594430,NaN,84.642519,...,NaN,NaN,313.611403,499.625230,156.437714,300.573488,NaN,52672.142857,7399.128059,2017
15,NaN,3511.454819,372.356020,323.025515,NaN,228.328898,NaN,164.656570,NaN,82.820817,...,NaN,NaN,307.880545,533.200539,180.202062,322.026175,NaN,52794.000000,7165.129199,2018

### Finally let's use this again but specify the census data we'd like to request from the census API

In [6]:
ts = CensusTimeSeries(shp_file, apikey, field='name')

In [7]:
sf3vars = (Sf3Variables.population, Sf3Variables.median_income)
sf3vars1990 = (Sf3Variables1990.population, Sf3Variables1990.median_income)
acsvars = (AcsVariables.population, AcsVariables.median_income)

polygon = shp.shape(0)
df = ts.get_timeseries("la_riviera", sf3_variables=sf3vars,
                       sf3_variables_1990=sf3vars1990, acs_variables=acsvars,
                       polygons=polygon)
df

Received 13 entries, 13 total
Received 5 entries, 18 total
Received 2 entries, 20 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 1 entries, 1 total
Received 1 entries, 1 total
Received 14 entries, 14 total
Received 6 entries, 20 total
Received 3 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 2 entries, 10 total
Received 13 entries, 13 total
Received 6 entries, 19 total
Received 4 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 1 entries, 9 total
Received 13 entries, 13 total
Received 5 entries, 18 total
Received 3 entries, 21 total
Received 2 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 3 entries, 9 total
Received 13 entries, 13 total
Received 5 entries, 18 total
Received 3 entries, 21 total
Received 2 entries, 23 total
Received 1 entries, 24 total
Received 6 entries, 6 total
Received 3 entries, 9 total
Received 14 entries, 14 total
Received 7 entries, 21 total
Received 3 entries, 24 total
Received 6 entries, 6 total
Received 2 entries, 8 total
Received 2 entries, 10 total
Getting data for census year 1990
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Error getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Error getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2000
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2005
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2006
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2007
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2008
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2009
Getting county data for la_riviera feature # 0
Getting county data for tahoe_park feature # 0
Getting data for census year 2010
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for la_riviera feature # 13
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2011
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2012
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2013
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2014
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2

Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2015
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2016
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2017
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5
Getting data for census year 2018
Getting tract data for la_riviera feature # 0
Getting tract data for la_riviera feature # 1
Getting tract data for la_riviera feature # 2
Getting tract data for la_riviera feature # 3
Getting tract data for la_riviera feature # 4
Getting tract data for la_riviera feature # 5
Getting tract data for la_riviera feature # 6
Getting tract data for la_riviera feature # 7
Getting tract data for la_riviera feature # 8
Getting tract data for la_riviera feature # 9
Getting tract data for la_riviera feature # 10
Getting tract data for la_riviera feature # 11
Getting tract data for la_riviera feature # 12
Getting tract data for la_riviera feature # 13
Getting tract data for tahoe_park feature # 0
Getting tract data for tahoe_park feature # 1
Getting tract data for tahoe_park feature # 2
Getting tract data for tahoe_park feature # 3
Getting tract data for tahoe_park feature # 4
Getting tract data for tahoe_park feature # 5

    year    population  median_income
0   1990  15134.640992   41111.181818
1   2000  14544.594289   50303.307692
2   2005   4740.151392   51793.000000
3   2006   4870.465149   53930.000000
4   2007   4912.777617   56987.000000
5   2008   4939.303067   56984.000000
6   2009   4963.376852   52504.000000
7   2010  15891.969140   59605.642857
8   2011  15837.636749   57320.461538
9   2012  15718.643943   56320.153846
10  2013  15750.861420   54183.769231
11  2014  16203.440273   54173.615385
12  2015  15685.149619   55490.076923
13  2016  15121.993876   57226.000000
14  2017  15452.339672   58889.076923
15  2018  16093.501628   69776.142857

In [8]:
polygon = shp.shape(1)

df = ts.get_timeseries("tahoe_park", sf3_variables=sf3vars,
                       sf3_variables_1990=sf3vars1990, acs_variables=acsvars,
                       polygons=polygon)
df

    year   population  median_income
0   1990  7054.755632   21734.000000
1   2000  6957.108138   30835.285714
2   2005  2178.345313   51793.000000
3   2006  2238.231240   53930.000000
4   2007  2257.676013   56987.000000
5   2008  2269.865832   56984.000000
6   2009  2280.928985   52504.000000
7   2010  6999.967737   42597.714286
8   2011  6922.338582   43395.428571
9   2012  7282.330598   43660.142857
10  2013  7789.141185   44068.714286
11  2014  7680.876393   44771.142857
12  2015  7704.291870   44426.714286
13  2016  7762.550236   48350.285714
14  2017  7399.128059   52672.142857
15  2018  7165.129199   52794.000000